= simple_form_for(@job) do |f|
  .form-group
    %label Category
    = f.collection_select :category_id, Category.all, :id, :name, { prompt: "Choose a category"}, class: "form-control"
  = f.input :title, label: "Job title", class: "form-control"
  = f.input :description, label: "Job description", class: "form-control"
  = f.input :company, label: "Your company", class: "form-control"
  = f.input :url, label: "Job URL", class: "form-control"
  %br/
  .form-group
    = f.button :submit, class: "btn btn-primary btn-block"
    = link_to "Cancel", root_path, class: "btn btn-danger btn-block"
